#players {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.previous {
  text-decoration: line-through;
}

.current {
  background: #FF0000;
  color: #fff;
}

#commentator {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 25px;
  border: 1px solid grey;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#track {
  font-size: 25px;
  padding: 35px 20px;
  font-family: fantasy;
}

#logout {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(223, 223, 223);
  min-width: 100px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
}

.player {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  margin-bottom: 10px;
}

.count-down {
  margin: 0 auto;
  text-align: center;
}

::-webkit-progress-bar {
  background: #ffffff;
}
::-webkit-progress-value {
  background: rgb(153,153,153);
}
::-moz-progress-bar {
  background: rgb(153,153,153);
}
progress {
  /*display: block;*/
  color: rgb(153,153,153);
  background: #fff;
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*width: 300px;*/
  /*height: 25px;*/
  line-height: 21px;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
