body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  text-align: center;
}

.wrapper input {
  display: block;
  min-width: 200px;
  margin-bottom: 10px;
  border: 1px solid;
  height: 25px;
  padding: 0 10px;
}

button {
  background-color: rgb(223, 223, 223);
  min-width: 100px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
}