
progress {
  display: block;
  color: #040000;
  background: #fff;
  border: 1px solid #646464;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 25px;
  line-height: 21px;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

::-webkit-progress-bar {
  background: #fff;
}
::-webkit-progress-value {
  background: #040000;
}
::-moz-progress-bar {
  background: #040000;
}